.heading {
	font-size: 23px;
	width: 100%;
	margin: 0px;
}

#status {
	font-size: 18px;
}
body{
	background-position: center;
	background-size: cover;
}
canvas{
	box-shadow: 3px 3px 6px black;
	border-radius: 10px;
}
